{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href= {% static 'css/bulma.css' %}>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<!-- ======================== navbar start ======================== -->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <a class="navbar-item" style="height: 44px" href="/home/">
        <img src="{% static 'img/logo.png' %}" alt="ZotRun Logo">
    </a>
    </div>

    <div id="main_navbar" class="navbar-menu">
        <div class="navbar-start">

            <a class="navbar-item" href="/main_page/"> Home </a>
            {#  <a class="navbar-item"> Discussion </a> #}
            {# <a class="navbar-item" href="/post_thread/"> New Thread </a> #}
            <a class="navbar-item" href="/current_rewards/"> Rewards </a>
            {# <a class="navbar-item" href="/post_reward/"> New Reward </a> #}
            {# <a class="navbar-item"> Private Message </a> #}
{#            <a class="navbar-item" href="/my_bookmark/"> BookMark </a>#}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> BookMark</a>
                <div class="navbar-dropdown">
                    <a href="/my_bookmark_thread/" class="navbar-item"> Threads </a>
                    <a href="/my_bookmark_reward/" class="navbar-item"> Rewards </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class = "navbar-link">Courses</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item my-colorful-link">Course 1</a>
                    <a class="navbar-item my-colorful-link">Course 2</a>
                    <a class="navbar-item my-colorful-link">Course 3</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> More</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item"> About </a>
                    <a class="navbar-item"> Contact </a>
                    <a href="/ans_history/" class="navbar-item"> History </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item"> Report an issue </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if check_login %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link is-primary">
                                {{ username }}
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="/profile/">Profile</a>
                                <a class="navbar-item" href="/coins/">Coins</a>
                                <a class="navbar-item"  style="color: red;" href="/logout/">Logout</a>
                            </div>
                        </div>
                    {% else %}
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light"> Log in </a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</nav>
<!-- ======================== navbar end ======================== -->
{% block content %}
    {#  'exctends' tag will include everything above and below but besdies this part! #}
{% endblock %}
<!-- ======================== footer start ======================== -->
<footer class="footer">
    <hr style="background-color:black">
    <div class="columns block is-mobile">

        <div class="column is-half">
            <figure class="image">
                <img src="">
            </figure>
            <b>ZotRun</b>
            <p>© 2023 ZotRun, Inc.</p>
            <p> Copyright 2023 ZotRun Team</p>
        </div>

        <div class="column is-half">
            <p>
                ZotRun is an open source discussion platform
            </p>
        </div>
    </div>
</footer>
<!-- ======================== footer end ======================== -->

</body>
</html>