<!-- use extends to reduce redundant code (check layout) -->
{% extends 'auth_layout.html' %}

{% block content %}
{% load static %}

<head>
    <title>main_page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/170b34daeb.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/watch.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/watch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reward.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/like_dislike.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/answer.css' %}">
    <style>
        /* Styles for the search bar */
        .panel {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .panel-tabs {
            margin-bottom: 0;
        }

        /* Styles for the cards */
        .card {
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .card-header-title {
            font-size: 20px;
            font-weight: bold;
        }
        .card-header-icon {
            background-color: white;
            border: none;
        }
        .card-header-icon:hover {
            background-color: #f5f5f5;
        }
        .card-content {
            background-color: #f5f5f5;
            padding: 20px;
        }
        .card-footer {
            background-color: white;
        }
        .card-footer-item {
            color: #3273dc;
            font-weight: bold;
        }
        .card-footer-item:hover {
            text-decoration: underline;
        }

        /* Styles for the like button */
        #like-button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }
        #like-button i {
            color: #ff4136;
            font-size: 25px;
        }

        .liked #like-button i {
            color: #ff725c;
        }

        #like-count {
            margin-left: 5px;
            font-size: 18px;
        }

        /* Custom styles for left and right design */
        .left {
            background-color: #fff;
            height: 100%;
        }
        .right {
            background-color: #eee;
            height: 100%;
        }
        .center {
            margin: 0 auto;
        }
    </style>
</head>

<body>

<button id="post-reward-btn" style="position: fixed; top: 70px; left: 10px; border-radius: 25% 15%;" class="button is-danger" title="Post New Reward">
  <span class="icon">
    <i class="fas fa-plus"></i>
  </span>
</button>

<div class="section has-background-white-ter">
    <div class="columns is-multiline is-mobile" >
{#        <div class="column">#}
{#        <div class="column is-one-fifth">#}
{#        <div class="column "style="position: sticky; top: 20px; bottom: 20px;">#}
{#  <div class="card is-mobile has-background-white", >#}
{#    <div class="card-content" style="padding: 20px;">#}
{#        <div class="column is-narrow is-centered">#}
{#          <a href="/post_thread">#}
{#            <button class="button is-link" style="margin-bottom: 10px;">#}
{#              <span class="icon">#}
{#                <i class="fas fa-pencil-alt"></i>#}
{#              </span>#}
{#              <span>New Thread</span>#}
{#            </button>#}
{#          </a>#}
{#        </div>#}
{#      <h2 class="title is-4">Course List</h2>#}
{#      <ul style="list-style-type: none;" class="has-text-left">#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-primary">Course 1</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-info">Course 2</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-success">Course 3</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-warning">Course 4</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-danger">Course 5</button>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div></div>#}
{#</div>#}


    {# --------------------------- search function ---------------------------#}
        <div class="column is-two-fifths">
            <div class="column ">
                <div class="card is-mobile">
                    <form method="get">
                        <div class="panel-block r">
                            <p class="control has-icons-left">
                                <input class="input" type="text" name="search" placeholder="Search" value="{{ query }}">
                                <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                            </p>
                            <button class="button is-info" type="submit">Search</button>
                        </div>
                    </form>

                    <form method="post">
                        {% csrf_token %}
                        <div class="columns is-mobile">
                                <div class="column ">

                                <button class="button is-ghost is-medium" name="all" value="all">All</button>
                                <button class="button is-ghost is-medium" name="general" value="general">General</button>
                                <button class="button is-ghost is-medium" name="lectures" value="lectures">Lectures</button>
                                <button class="button is-ghost is-medium" name="lab" value="lab">Lab</button>
                                <button class="button is-ghost is-medium" name="homework" value="homework">Homework</button>
                                <button class="button is-ghost is-medium" name="project" value="project">Project</button>
                                </div>
                        </div>

                        {#        <label class="panel-block">#}
                        {#            <input type="checkbox">#}
                        {#            remember me#}
                        {#        </label>#}
                        {#        <div class="panel-block">#}
                        {#            <button class="button is-link is-outlined is-fullwidth" name="reset" value="reset">#}
                        {#                Reset all filters#}
                        {#            </button>#}
                        {#        </div>#}
                    </form>
                </div>
            </div>
{# --------------------------- search function ---------------------------#}

{# --------------------------- display threads ---------------------------#}
        <div id="directory" class="column" style="height: 800px; overflow-y: auto;" data-show_thread_id="{{ reward_id }}">
    {% for each_thread in post_thread %}
        <div class="card" type="button" >
            <a>
            <header class="card-header" id="display_thread{{ each_thread.id }}"
                    data-post_id="{{ each_thread.id }}"
{#                    data-post_email="{{ user.email }}"#}
                    data-post_title="{{ each_thread.title }}"
                    data-post_date="{{ each_thread.date }}"
                    data-post_content="{{ each_thread.content }}"
                    data-post_category="{{ each_thread.category }}"
                    data-post_user_id="{{ user.id }}"
                    data-coin_num="{{ each_thread.coin_num }}"
                    data-mywatches="{{ each_thread.watches }}"
                    data-post_is_taken="{{ each_thread.is_taken }}"
            >
                <p class="card-header-title">
                    {{ each_thread.title }}
                    <br>
                    {{ each_thread.category }}
                    <br>
                </p>
{#                <button class="card-header-icon" aria-label="more options">#}
{#      <span class="icon">#}
{#        <i class="fas fa-angle-down" aria-hidden="true"></i>#}
{#      </span>#}
{#                </button>#}
                <button class="card-header-icon">
                    <span class="icon">
                        <i class="fa-solid fa-coins" style="color:#00b300;font-size:1.5em"></i>

                    </span>
                    <span style="color:#00b300;padding:0 5px">
                        {{ each_thread.coin_num }}
                    </span>
                </button>

            </header></a>

              <div class="card-content">
                <div class="content">
                    <time datetime="">{{ each_thread.date }}</time>
                    <br>
                </div>
            </div>

            <footer class="card-footer">

                <button id="watch-button{{ each_thread.id }}" data-post-id="{{ each_thread.id }}"
                    data-iswatched="{{ each_thread.is_watched }}"
                    data-userid = "{{ user.id }}">
                    <i class="fa-solid fa-eye "></i>
                </button>
                <span id="watch-count{{ each_thread.id }}">{{ each_thread.watches }}</span>

                <a href="/save_bookmark_reward/{{ each_thread.id }}/{{ user.id }}" class="card-footer-item">
                     <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
                    <span>Save</span>
                </a>

                {% if each_thread.user.id == user.id %}
                <a href="/edit_reward/{{ each_thread.id }}" class="card-footer-item">
                    <span class="icon"><i class="fa-regular fa-pen-to-square"></i></span>
                    <span>Edit</span>
                </a>
                <a href="/delete_reward/?nid={{ each_thread.id }}" class="card-footer-item">
                    <span class="icon"><i class="fa-regular fa-trash-can"></i></span>
                    <span>Delete</span>
                </a>
                {% endif %}
            </footer>
        </div>

        <br>
    {% endfor %}
</div></div>
{# --------------------------- display threads ---------------------------#}

{# --------------------------- other functions ---------------------------#}

{#        <div class="column is-one-third" >#}
{#  <div class="box" id="hide_show">#}
{#    <div class="columns">#}
{#      <div class="column">#}
{#        <div class="content">#}
{#          <h2 class="title is-4">Course List</h2>#}
{#          <ul style="list-style-type: none;">#}
{#        <li>#}
{#          <button class="button is-primary">Course 1</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-info">Course 2</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-success">Course 3</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-warning">Course 4</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-danger">Course 5</button>#}
{#        </li>#}
{#      </ul>#}
{#        </div>#}
{#      </div>#}
{#      <div class="column">#}
{#        <div class="content">#}
{#          <h3 class="title is-4">Categories</h3>#}
{#          <div class="buttons">#}
{#            <button class="button is-link is-outlined">General</button>#}
{#            <button class="button is-link is-outlined">Lectures</button>#}
{#            <button class="button is-link is-outlined">Lab</button>#}
{#            <button class="button is-link is-outlined">Homework</button>#}
{#            <button class="button is-link is-outlined">Project</button>#}
{#            </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <figure class="image is-4by3">#}
{#      <img src="{% static 'img/dis.png' %}" alt="Placeholder image"/>#}
{#    </figure>#}
{#  </div>#}
{#</div>            #}
{# --------------------------- other functions ---------------------------#}

{# --------------------------- dynamicly display threads ---------------------------#}

    <div class="column is-three-fifths">
        <div class="column" style="position: sticky; top: 20px;">
        <div  id="parent" class="card is-mobile" >
{#            <header class="card-header">#}
{#              <p style="height:54px" class="card-header-title" id="show_post_title">{{ reward.title }}</p>#}
{#            </header>#}
{#            <header class="card-header" style="height:40px;background-color: white">#}
{#                <p style="font-size: 1em" class="card-header-title"  id="show_post_name">poster: {{ reward.user.username }}</p>#}
{##}
{#                {% if reward.user.id == user.id and reward.taken_user_id != 0 %}     {#  only poster can finish reward #}
{#                <button id="finish_reward" class="card-header-icon">     {# satisfy, reward finished #}
{#                    <a href="/finish_reward/?reward_id={{ reward.id }}" class="icon">#}
{#                        <i class="fa-solid fa-cannabis" style="font-size:1.5em"></i>#}
{#                    </a>#}
{#                </button>#}
{#                {%  else %}#}
{#                {% endif %}#}
{##}
{#                <button id="accept_reward" class="card-header-icon"#}
{#                        data-reward_id="{{ reward.id }}"#}
{#                        data-is_taken="{{ reward.is_taken }}"#}
{#                        data-user_id="{{ user.id }}"#}
{#                        data-post_user_id="{{ reward.user.id }}"#}
{#                        data-taken_user_name="{{ taken_user.username }}"#}
{#                        data-taken_user_id="{{ taken_user.id }}"#}
{#                >#}
{#                <i id='i' class="fa-solid fa-square-check" style="font-size: 1.5em;"></i>#}
{#                    <span id="accept_word" style="padding:0 5px;"></span>#}
{##}
{#                </button>#}
{#                <button class="card-header-icon">#}
{#                    <span class="icon">#}
{#                        <i class="fa-solid fa-coins" style="color:#00b300;font-size:1.5em"></i>#}
{#                    </span>#}
{#                    <span style="padding:0 5px; color:#00b300;" id="show_coin_num">#}
{#                        {{ reward.coin_num }}#}
{#                    </span>#}
{#                </button>#}
{#            </header>#}
{##}
{#            <div class="card-content">#}
{#            <div class="content">#}
{#                <p id="show_post_content"> {{ reward.content }}</p>#}
{#                <br>#}
{#                <time style="float:right" datetime="" id="show_post_time">{{ reward.date }}</time>#}
{#                <br>#}
{#            </div>#}
{#            </div>#}
{#            <div class="card-footer">             {# show comment #}
{#            </div>#}
{##}
{#            <div id='parent_card'#}
{#                 data-reward_id={{ reward.id }} data-post_user_id={{ reward.user.id }}#}
{#                    data-taken_user_id={{ reward.taken_user_id }}#}
{#                 data-user_id={{ user.id }} data-username={{ user.username }}#}
{#                  >#}
{#                <div style="height:30px;background-color:white"></div>#}
{#                {% for answer in answers %}#}
{#                    <div class="card-content">{{ answer.content }}</div>#}
{#                <div style="background-color:white;height:30px">#}
{#                    <div style="float:right;"> author: {{ answer.answer_user.username }}</div>#}
{#                </div>#}
{##}
{#                {% endfor %}#}
{#                <button id="answer_reward" style="float:right; color:blue"  class="card-header-icon">Answer</button>#}
{#            </div>#}
        </div>
        </div>
        </div>

  {# --------------------------- dynamically display threads ---------------------------#}
{##}
{#</div>#}
{#    </div>#}
{#    <div class="column is-three-fifths">#}
{#        <div class="column" style="position: sticky; top: 20px;">#}
{#            <div id="card_content"></div>#}
{#        </div>#}
{#      </div>#}
</div>
</div>

<button style="position: fixed; bottom: 20px; right: 20px;" id="scrollToTopBtn" class="button is-primary" title="Go to top">
    <span class="icon">
        <i class="fas fa-arrow-up"></i>
    </span>
</button>

<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/roll.js' %}"></script>
<script src="{% static 'js/show_reward.js' %}"></script>
<script src="{% static 'js/accept_reward.js' %}"></script>
<script src="{% static 'js/answer.js' %}"></script>
<script src="{% static 'js/finish_reward.js' %}"></script>
<script src="{% static 'js/move.js' %}"></script>
<script src="{% static 'js/click_reward.js' %}"></script>

<script src="{% static 'js/mywebsocket.js' %}"></script>
</body>

{% endblock %}
