<!-- use extends to reduce redundant code (check layout) -->
{% extends 'auth_layout.html' %}

{% block content %}
{% load static %}

<head>
    <title>main_page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/170b34daeb.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/like_dislike.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/like_dislike.css' %}">

    <style>
        /* Styles for the search bar */
        .panel {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .panel-tabs {
            margin-bottom: 0;
        }

        /* Styles for the cards */
        .card {
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .card-header-title {
            font-size: 20px;
            font-weight: bold;
        }
        .card-header-icon {
            background-color: white;
            border: none;
        }
        .card-header-icon:hover {
            background-color: #f5f5f5;
        }
        .card-content {
            background-color: #f5f5f5;
            padding: 20px;
        }
        .card-footer {
            background-color: white;
        }
        .card-footer-item {
            color: #3273dc;
            font-weight: bold;
        }
        .card-footer-item:hover {
            text-decoration: underline;
        }

        /* Styles for the like button */
        #like-button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }
        #like-button i {
            color: #ff4136;
            font-size: 25px;
        }

        .liked #like-button i {
            color: #ff725c;
        }

        #like-count {
            margin-left: 5px;
            font-size: 18px;
        }

        /* Custom styles for left and right design */
        .left {
            background-color: #fff;
            height: 100%;
        }
        .right {
            background-color: #eee;
            height: 100%;
        }
        .center {
            margin: 0 auto;
        }
    </style>
</head>

<body>

<div class="section has-background-white-ter">
    <div class="columns is-multiline is-mobile" >
{#        <div class="column">#}
{#        <div class="column is-one-fifth">#}
{#        <div class="column "style="position: sticky; top: 20px; bottom: 20px;">#}
{#  <div class="card is-mobile has-background-white", >#}
{#    <div class="card-content" style="padding: 20px;">#}
{#        <div class="column is-narrow is-centered">#}
{#          <a href="/post_thread">#}
{#            <button class="button is-link" style="margin-bottom: 10px;">#}
{#              <span class="icon">#}
{#                <i class="fas fa-pencil-alt"></i>#}
{#              </span>#}
{#              <span>New Thread</span>#}
{#            </button>#}
{#          </a>#}
{#        </div>#}
{#      <h2 class="title is-4">Course List</h2>#}
{#      <ul style="list-style-type: none;" class="has-text-left">#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-primary">Course 1</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-info">Course 2</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-success">Course 3</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-warning">Course 4</button>#}
{#        </li>#}
{#        <li style="margin-bottom: 10px;">#}
{#          <button class="button is-danger">Course 5</button>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div></div>#}
{#</div>#}


    {# --------------------------- search function ---------------------------#}
        <div class="column is-two-fifths">
            <div class="column">
                <div class="card is-mobile">
                    <form method="get">
                        <div class="panel-block">
                            <p class="control has-icons-left">
                                <input class="input" type="text" name="search" placeholder="Search" value="{{ query }}">
                                <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                            </p>
                            <button class="button is-info" type="submit">Search</button>
                        </div>
                    </form>

                    <form method="post">
                        {% csrf_token %}

                        <div class="columns is-mobile">
                                <div class="column ">

                                <button class="button is-ghost is-medium" name="all" value="all">All</button>
                                <button class="button is-ghost is-medium" name="general" value="general">General</button>
                                <button class="button is-ghost is-medium" name="lectures" value="lectures">Lectures</button>
                                <button class="button is-ghost is-medium" name="lab" value="lab">Lab</button>
                                <button class="button is-ghost is-medium" name="homework" value="homework">Homework</button>
                                <button class="button is-ghost is-medium" name="project" value="project">Project</button>
                                </div>
                        </div>


                    </form>
                </div>
            </div>
{# --------------------------- search function ---------------------------#}
{# --------------------------- display threads ---------------------------#}
        <div class="column" id="thread_board" style="height: 800px; overflow-y: auto;"
             data-show_thread_id="{{ thread_id }}">        {# show this thread when render main page #}
    {% for each_thread in post_thread %}

        <div class="card" type="button" >
            <a>
            <header class="card-header" id="display_thread{{ each_thread.id }}"
                    data-post_id="{{ each_thread.id }}"
                    data-post_user="{{ each_thread.user }}"
                    data-post_title="{{ each_thread.title }}"
                    data-post_date="{{ each_thread.date }}"
                    data-post_content="{{ each_thread.content }}"
                    data-post_category="{{ each_thread.category }}"
                    data-post_user_id="{{ user.id }}"
            >
                <p class="card-header-title">
                    {{ each_thread.title }}
                    <br>
                    {{ each_thread.category }}
                    <br>
                </p>
                <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                </button>
            </header></a>

              <div class="card-content">
                <div class="content">
                    <time datetime="">{{ each_thread.date }}</time>
                    <br>
                </div>
            </div>

            <footer class="card-footer">

                <button id="like-button{{ each_thread.id }}" data-post-id="{{ each_thread.id }}"
                    data-isliked="{{ each_thread.is_liked }}"
                    data-userid = "{{ user.id }}">
                    <i class="fa-solid fa-heart"></i>
                </button>
                <span id="like-count{{ each_thread.id }}">{{ each_thread.likes }}</span>

                <a href="/save_bookmark_thread/{{ each_thread.id }}/{{ user.id }}" class="card-footer-item">
                    <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
                    <span>Save</span>
                </a>

                {% if each_thread.user.id == user.id %}
                <a href="/edit_thread/{{ each_thread.id }}" class="card-footer-item">
                    <span class="icon"><i class="fa-regular fa-pen-to-square"></i></span>
                    <span>Edit</span>
                </a>
                <a href="/delete_post/?nid={{ each_thread.id }}" class="card-footer-item">
                    <span class="icon"><i class="fa-regular fa-trash-can"></i></span>
                    <span>Delete</span>
                </a>
                {% endif %}

            </footer>
        </div>

        <br>
    {% endfor %}
</div></div>
{# --------------------------- display threads ---------------------------#}

{# --------------------------- other functions ---------------------------#}

{#        <div class="column is-one-third" >#}
{#  <div class="box" id="hide_show">#}
{#    <div class="columns">#}
{#      <div class="column">#}
{#        <div class="content">#}
{#          <h2 class="title is-4">Course List</h2>#}
{#          <ul style="list-style-type: none;">#}
{#        <li>#}
{#          <button class="button is-primary">Course 1</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-info">Course 2</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-success">Course 3</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-warning">Course 4</button>#}
{#        </li>#}
{#        <li>#}
{#          <button class="button is-danger">Course 5</button>#}
{#        </li>#}
{#      </ul>#}
{#        </div>#}
{#      </div>#}
{#      <div class="column">#}
{#        <div class="content">#}
{#          <h3 class="title is-4">Categories</h3>#}
{#          <div class="buttons">#}
{#            <button class="button is-link is-outlined">General</button>#}
{#            <button class="button is-link is-outlined">Lectures</button>#}
{#            <button class="button is-link is-outlined">Lab</button>#}
{#            <button class="button is-link is-outlined">Homework</button>#}
{#            <button class="button is-link is-outlined">Project</button>#}
{#            </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <figure class="image is-4by3">#}
{#      <img src="{% static 'img/dis.png' %}" alt="Placeholder image"/>#}
{#    </figure>#}
{#  </div>#}
{#</div>            #}
{# --------------------------- other functions ---------------------------#}

{# --------------------------- dynamicly display threads ---------------------------#}
    <div class="column is-three-fifths">
        <div class="column" style="position: sticky; top: 20px;">
        <div id='parent' class="card is-mobile" data-user_id="{{ user.id }}">
{#            <header class="card-header">#}
{#              <p class="card-header-title" id="show_post_title"></p>#}
{#              <br>#}
{#            </header>#}
{#            <div class="card-content">#}
{#            <div class="content">#}
{#                <p id="show_post_category"> </p>#}
{#                <p id="show_post_content"> </p>#}
{#                <br>#}
{#                <time datetime="" id="show_post_time"></time>#}
{#                <br>#}
{#            </div>#}
{#            </div>#}
{##}
{##}
{#                <div style="height:30px;background-color:white"></div>#}
{#                {% for answer in answers %}#}
{#                    <div class="card-content">{{ answer.content }}</div>#}
{#                <div style="background-color:white;height:30px">#}
{#                    <div style="float:right;"> author: {{ answer.answer_user.username }}</div>#}
{#                </div>#}
{#                {% endfor %}#}

        </div>
        </div>
  {# --------------------------- dynamically display threads ---------------------------#}

</div>
    </div>

</div>

<button style="position: fixed; bottom: 20px; right: 20px;" id="scrollToTopBtn" class="button is-primary" title="Go to top">
    <span class="icon">
        <i class="fas fa-arrow-up"></i>
    </span>
</button>

<script src="{% static 'js/roll.js' %}"></script>
<script src="{% static 'js/show_thread.js' %}"></script>
<script src="{% static 'js/tip.js' %}"></script>
<script src="{% static 'js/click_thread.js' %}"></script>
</body>
{% endblock %}
