<!-- use extends to reduce redundant code (check layout) -->
{% extends 'auth_layout.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Message List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">Message List</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {#  search function #}
    <div class="columns is-centered">
      <div class="column">
          <form method="post">
                {% csrf_token %}
        <div class="buttons is-centered">
          <button class="button is-primary is-outlined" name="all">All</button>
          <button class="button is-primary is-outlined" name="Someone answered you">Answered</button>
          <button class="button is-primary is-outlined" name="Keep asking">Keep Asking</button>
          <button class="button is-primary is-outlined" name="Reward Completed">Reward Completed</button>
          <button class="button is-primary is-outlined" name="Reward Accepted">Reward Accepted</button>
        </div>
          </form>
      </div>
    </div>
  {#  search function #}

    {% for user_history in user_history_list %}
      <div class="card mb-3">
        <div class="card-content">
          <div class="columns is-vcentered">
            <div class="column">
              <p class="is-size-5 mb-0"><strong>Type: {{ user_history.type }}</strong></p>
              <p class="is-size-6 has-text-grey"><small>Date: {{ user_history.date }}</small></p>
            </div>

            <div class="column auto" style="">
              <p class="is-size-5 mb-0"><strong>Title: {{ user_history.title }}</strong></p>
              <p class="is-size-6 has-text-grey"><small>With student: {% if user_history.interact_id %}{{ user_history.interact_id }}{% else %}Yourself{% endif %}</small></p>
            </div>


          <div class="column auto">
              {%  if not user_history.is_read %}
          <div style="color:red;font-size: 20px;float:right">Unread</div>
          {% else %}
          {%  endif %}

          </div>

          <div>


          </div>
{#          {%  if not user_history.is_read %}#}
{#          <div style="color:red;font-size: 20px;padding-right: 20px">New</div>#}
{#          {% else %}#}
{#          {%  endif %}#}
            <div class="column is-narrow">
              <div class="buttons">
                <a  href="/jump_message/?message_id={{ user_history.id }}"
{#                      "/current_rewards/{{ user_history.thread_id }}"#}
                    class="button is-primary is-small">View
                  </a>
                <a href="/del_mes_his/?nid={{ user_history.id }}" class="button is-danger is-small">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</section>

</body>
</html>

{% endblock %}
