{% extends 'auth_layout.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
        <style>
            .center {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
</head>

<!-- 用户 profile 页面 -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <form method="post">
            {% csrf_token %}

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">User Name:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                      <p class="input is-static" style="padding-left: 3em;">{{ username }}</p>
                  </p>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <form method="post">
  {% csrf_token %}
  <a class="button is-primary" name="" href="/edit_name/">Change</a>
</form>

                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Password:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                      <p class="input is-static" style="padding-left: 3em;">*********</p>
                  </p>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <form method="post">
  {% csrf_token %}
  <a class="button is-primary" name=""  href="/reset_pwd/">Change</a>
</form>

                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">School:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <span class="icon is-small is-left">
                      <i class="fas fa-university"></i>
                    </span>
                      <p class="input is-static" style="padding-left: 3em;">{{ school }}</p>
                  </p>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <button type="submit" class="button is-primary">Change</button>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Email:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                      <p class="input is-static" style="padding-left: 3em;">{{ user_email }}</p>
                  </p>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <form method="post">
  {% csrf_token %}
  <a class="button is-primary" name="" href="/edit_email/" >Change</a>
</form>

                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Birthday:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <span class="icon is-small is-left">
                      <i class="fas fa-birthday-cake"></i>
                    </span>
                      <p class="input is-static" style="padding-left: 3em;">{{ birthday }}</p>
                  </p>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <button type="submit" class="button is-primary">Change</button>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Address:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left is-flex">
                    <span class="icon is-small is-left">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                      <p class="input is-static" style="padding-left: 3em;">TBD</p>
                  </p>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <button type="submit" class="button is-primary">Change</button>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Credit:</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left is-flex">
        <span class="icon is-small is-left">
          <i class="fas fa-credit-card"></i>
        </span>
        <p class="input is-static" style="padding-left: 3em;">{{ credit }}</p>
      </p>
    </div>
  </div>
</div>




          </form>
        </div>
      </div>
    </div>
  </div>
</section>



</html>

{% endblock %}