{% extends 'layout.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            ZotRun
        </a>
    </div>
</nav>

<form method="post" class="box">
    {% csrf_token %}

    <div class="field">
        <label class="label">User Name</label>
        <div class="control">
            <input class="input" required="required" name="username" type="" placeholder="e.g. ZotRun#1 ">
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" required="required" name="email" type="" placeholder="e.g. username@example.com">
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" required="required" name="pwd" type="password" placeholder="********">
        </div>
    </div>

    <div class="field">
        <label class="label">Select User Type:</label>
        <div class="control">
            <div class="select">
                <select name="user_type">
                    <option value="" disabled selected>User Type</option>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
            </div>
        </div>
    </div>

    <button class="button is-primary">Sign up</button>
    <span style="color: red"> {{ error_msg }} </span>
</form>
</body>

</html>
{% endblock %}
