{% extends 'layout.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/home/">
            ZotRun
        </a>
    </div>
</nav>

<form method="post" class="box" autocomplete="off">
    {# a build in protection in Django #}
    {% csrf_token %}

    <div class="field">
        <label class="label">User Name</label>
        <div class="control">
            <input class="input" required="required" type="" name="username" placeholder="e.g. ZotRun#1 ">
        </div>
    </div>

{#    <div class="field">#}
{#        <label class="label">Email</label>#}
{#        <div class="control">#}
{#            <input class="input" type="email" name="email" placeholder="e.g. username@example.com">#}
{#        </div>#}
{#    </div>#}

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" required="required" type="password" name="pwd" placeholder="********">
        </div>
    </div>
    <button class="button is-primary" type="submit" href="/main_page/">Sign in</button>
    <button class="button is-warning" type="submit" href="/reset_pwd/">Forgot your password?</button>
    <span style="color: red"> {{ error_msg }} </span>
</form>
</body>

</html>
{% endblock %}
