<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="card">
  <div class="card-content">
    <p>Default card content.</p>
  </div>
</div>

<div class="card is-primary">
  <div class="card-content">
    <p>Primary card content.</p>
  </div>
</div>

<div class="card is-link">
  <div class="card-content">
    <p>Link card content.</p>
  </div>
</div>

<div class="card is-success">
  <div class="card-content">
    <p>Success card content.</p>
  </div>
</div>

<div class="card is-warning">
  <div class="card-content">
    <p>Warning card content.</p>
  </div>
</div>

<div class="card is-danger">
  <div class="card-content">
    <p>Danger card content.</p>
  </div>
</div>

</body>
</html>