.unlike {
  border: none;
  background-color: transparent;
  padding-left: 15px;
}

/* Define a class for buttons with no border and a red background color */
.like {
  border: none;
padding-left: 15px;
  color: red;
  background-color: transparent;
}

/* Styles for the search bar */
        .panel {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .panel-tabs {
            margin-bottom: 0;
        }

        /* Styles for the cards */
        .card {
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .card-header-title {
            font-size: 20px;
            font-weight: bold;
        }
        .card-header-icon {
            background-color: white;
            border: none;
        }
        .card-header-icon:hover {
            background-color: #f5f5f5;
        }
        .card-content {
            background-color: #f5f5f5;
            padding: 20px;
        }
        .card-footer {
            background-color: white;
        }
        .card-footer-item {
            color: #3273dc;
            font-weight: bold;
        }
        .card-footer-item:hover {
            text-decoration: underline;
        }

        /* Styles for the like button */
        #like-button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }
        #like-button i {
            color: #ff4136;
            font-size: 25px;
        }

        .liked #like-button i {
            color: #ff725c;
        }

        #like-count {
            margin-left: 5px;
            font-size: 18px;
        }

        /* Custom styles for left and right design */
        .left {
            background-color: #fff;
            height: 100%;
        }
        .right {
            background-color: #eee;
            height: 100%;
        }
        .center {
            margin: 0 auto;
        }

button i.fa-heart {
  font-size: 1.5em; /* or any other value you prefer */
}

#dragButton {
  position: fixed;
  top: 60px;
  left: 10px;
  cursor: move;
  border: none;
  background-color: transparent;
}

#dragButton .icon {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

#dragButton:focus {
  outline: none;
}
