.coin_show{
    padding: 20px 10px;
    font-weight:bold;
}

.card {
    background-color: #ffe699;
}

.bluebody{
    background-color: #ccd8ff;
}

.reward_search_filter{
    border: 0;
    color: #ffe699;
}


/*<button class="card-header-icon">*/
/*    <span class="icon">*/
/*        <i class="fa-solid fa-coins" style="color:#00b300;font-size:1.5em"></i>*/

/*    </span>*/
/*    <span style="color:#00b300;padding:0 5px">*/
/*        {{ each_thread.coin_num }}*/
/*    </span>*/
/*</button>*/